@{
	 Layout = "_Layout";
}

<div class="container align-content-center"> 

	<h1>About us</h1>

	<h2>
		Group - B

	</h2>
	<h3 style="color:deepskyblue">
		Grate Learning Project
	</h3>
	<p>
		It is Group Project for the WIPRO velocity Program.
	</p>

</div>

