@{
	 Layout = "_Layout";
}

<div class="container align-content-center"> 

	<h1>Terms</h1>

	<h2>
		Group - B

	</h2>
	<h3 >
		<ul>
			<li>
				Use are free of cost.
			</li>
			<li>
				Easy to use.
			</li>
			<li>
				Last term ......
			</li>
		</ul>
	</h3>
	<p>
		It is Group Project for the WIPRO velocity Program.
	</p>

</div>